.books_container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
  position: relative;
}

.form {
  width: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.book_img {
  width: 250px;
  height: 250px;
}

.btns_card {
  display: flex;
  justify-content: space-evenly;
}

.btn_add {
  position: absolute;
  top: -40px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}